/* MENU Aaron 2014/1/3 9:49
--------------------------- */

/*@charset "utf-8";*/
/* CSS Document */

.accordion,
.accordion ul,
.accordion li,
.accordion a,
.accordion span {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.menu {
    position: fixed;
    float: left;
    width: 14%;
    min-width: 134px;
    min-height: 100%;
    background: rgb(34, 51, 68);
    display: inline-block;
    height: 100%;
    overflow-y: scroll;
}

.menu li.Fali {
    text-align: center;
    color: #BDBDBD;
    font-size: 16px;
    /*background: #3c3f44;*/
    /*border-bottom: 2px solid #16181A;*/
    transition: all 0.5s;
}

.menu li.Fali > a {
    height: 50px;
    line-height: 50px;
    background: rgb(34, 51, 68);
    outline: none;
}

.accordion > li:nth-child(even) > a {
    /*background: #25292c;*/
}

/* Layout & Style */

.accordion li > a {
    display: block;
    position: relative;
    height: 32px;

    color: #fdfdfd;
    font: bold 12px/32px Arial, sans-serif;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .35);

    background: #6c6e74;
    background: -webkit-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
    background: -moz-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
    background: -ms-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
    background: -o-linear-gradient(top, #6c6e74 0%, #4b4d51 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6c6e74), color-stop(100%, #4b4d51));
    background: linear-gradient(top, #6c6e74 0%, #4b4d51 100%);

    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
}

.menu .accordion > li:hover > a,
.menu .accordion > li:target > a,
.menu .accordion > li > a.active {
    /*color: #3e5706;*/
    text-shadow: 1px 1px 1px rgba(255, 255, 255, .2);
    background: #162736;
    /*background: #a5cd4e;*/
    /*background: -moz-linear-gradient(top,  #a5cd4e 0%, #6b8f1a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a5cd4e), color-stop(100%,#6b8f1a));
    background: -webkit-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -o-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: -ms-linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    background: linear-gradient(top,  #a5cd4e 0%,#6b8f1a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startcolorstr=#a5cd4e,endcolorstr=#6b8f1a,gradientType=0);*/
}

.accordion li > a span {
    display: block;
    position: absolute;
    top: 12px;
    right: 0;
    line-height: 24px;
    margin-right: 20px;
    padding: 0 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2), 1px 1px 1px rgba(255, 255, 255, .1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2), 1px 1px 1px rgba(255, 255, 255, .1);
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, .2), 1px 1px 1px rgba(255, 255, 255, .1);
}

.accordion > li:hover > a span,
.accordion > li:target > a span,
.accordion > li > a.active span {
    color: #fdfdfd;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, .35);
    background: #3e5706;
}

/* Images */

.accordion > li > a:before {
    position: absolute;
    top: 0;
    /*left: 0;*/
    content: '';
    width: 24px;
    height: 24px;
    margin: 14px -38px;

    background-repeat: no-repeat;
    background-image: url(../images/icons.png);
    background-position: 0px 0px;
}

.accordion li#one > a:before {
    background-position: 0px 0px;
}

/*.accordion li#one:hover > a:before,
.accordion li#one:target > a:before,
.accordion li#one > a.active:before { background-position: 0px -24px; }*/

.accordion li#two > a:before {
    background-position: -24px 0px;
}

/*.accordion li#two:hover > a:before,
.accordion li#two:target > a:before,
.accordion li#two > a.active:before { background-position: -24px -24px; }*/

.accordion li#three > a:before {
    background-position: -48px 0px;
}

/*.accordion li#three:hover > a:before,
.accordion li#three:target > a:before,
.accordion li#three > a.active:before { background-position: -48px -24px; }*/

.accordion li#four > a:before {
    background-position: -72px 0px;
}

/*.accordion li#four:hover > a:before,
.accordion li#four:target > a:before,
.accordion li#four > a.active:before { background-position: -72px -24px; }*/

.accordion li#five > a:before {
    background-position: -72px 0px;
}

/*.accordion li#five:hover > a:before,
.accordion li#five:target > a:before,
.accordion li#five > a.active:before { background-position: -72px -24px; }*/

.accordion > li > a.active:after {
    position: absolute;
    right: 0;
    margin: 20px 0;
    content: '';
    border: 6px solid #E8F2F7;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    display: inline-block;
}

/* Sub Menu */

.sub-menu li a {
    color: #797979;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .2);

    background: #e5e5e5;
    border-bottom: 1px solid #c9c9c9;

    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    -moz-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, .1), 0px 1px 0px 0px rgba(0, 0, 0, .1);
}

.sub-menu li:hover a {
    background: #efefef;
}

.sub-menu li:last-child a {
    border: none;
}

.sub-menu li > a span {
    color: #797979;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, .2);
    background: transparent;
    border: 1px solid #c9c9c9;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.sub-menu em {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 14px;
    color: #a6a6a6;
    font: normal 10px/32px Arial, sans-serif;
}

/* Functionality */

.accordion li > .sub-menu {
    display: none;
    border-right: 3px solid #c9c9c9;
}

.accordion li:target > .sub-menu {
    display: block;
}

.sub-menu li a.current {
    background-color: #efefef;
}