
body
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background-color: #EEE;
}
div
{
    overflow: hidden;
    font-size: 12px;
    margin: 0px;
    padding: 0px;
}
.Clear
{
    width: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
    clear: both;
    font-size: 0px;
    line-height: 0px;
}
.some_bg
{
    background-image: url(../../../images/manager/2/some_bg.png);
    background-repeat: no-repeat;
}
.some_bg_1
{
    background-image: url(../../../images/manager/2/some_bg.png);
    background-repeat: no-repeat;
}
#LogInDiv
{
    width: 637px;
    height: 398px;
    position: absolute;
    left: 0px;
    top: 0px;
}
#LogInTop
{
    width: 637px;
    height: 83px;
    background-image: url(../../../images/manager/2/LogInTop_bg.png);
}
#LogInTopLogoDiv
{
    width: 354px;
    height: 77px;
}
#LogInTopSmallLogo
{
    width: 53px;
    height: 77px;
    background-position: 22px 17px;
    float: left;
}
#LogInTopLogoFontDiv
{
    width: 296px;
    height: 77px;
    margin-left: 5px;
    background-position: 0px -40px;
}
#LogInCenter
{
    width: 637px;
    height: 281px;
    background-image: url(../../../images/manager/2/LogInCenter_bg.png);
}
#LogInCenterPicDiv
{
    width: 377px;
    height: 279px;
    background-image: url(../../../images/manager/2/LogInCenter_Pic.png);
    margin-left: 3px;
    float: left;
    display: inline;
}
#LogInCenterInputDiv
{
    width: 254px;
    height: 279px;
    float: left;
    background: url(../../../images/manager/2/LogInCenter_Input_bg.png);
}
#LogInBottom
{
    width: 637px;
    height: 34px;
}
#LogInBottomLeft
{
    width: 13px;
    height: 34px;
    background-position: -181px -1px;
    float: left;
}
#LogInBottomCenter
{
    width: 611px;
    height: 34px;
    background-image: url(../../../images/manager/2/LogInBottom_Center_bg.png);
    float: left;
}
#LogInBottomRight
{
    width: 13px;
    height: 34px;
    background-position: -203px -1px;
    float: left;
}
#LogInBottomCenterPic
{
    width: 80px;
    height: 34px;
    background-position: -222px 5px;
    float: left;
    margin-left: 131px;
    display: inline;
}
#LogInBottomCenterFont
{
    height: 34px;
    line-height: 34px;
    float: left;
    font-size: 12px;
    color: #d4ead1;
}
#LogInInputTop
{
    margin-top: 71px;
    margin-left: 10px;
    height: 32px;
}
#LogInInputTopLogo
{
    width: 32px;
    height: 32px;
    float: left;
    background-position: -38px 1px;
}
#LogInInputTopFont1
{
    font-size: 18px;
    color: #404040;
    font-family: ו;
    font-weight: bold;
    float: left;
    height: 32px;
    line-height: 32px;
    margin-left: 5px;
}
#LogInInputTopFont2
{
    font-size: 9px;
    color: #5b5b5b;
    font-family: Arial;
    font-style: italic;
    float: left;
    margin-top: 10px;
    margin-left: 5px;
}
.LogInInputCenter
{
    margin-top: 10px;
    margin-left: 18px;
    height: 32px;
}
.LogInInputCenterFont
{
    font-size: 12px;
    color: #404040;
    font-family: ו;
    font-weight: bold;
    float: left;
    height: 32px;
    line-height: 32px;
}
.LogInInputCenterInput
{
    width: 155px;
    float: left;
}
#LogInInputCenterButton
{
    border: 0px;
    margin-top: 20px;
    margin-left: 55px;
    height: 22px;
    width: 67px;
    background-position: -83px -1px;
    cursor: pointer;
    color: #8b4d02;
    font-family: ו;
    font-size: 12px;
}
